@let chord = activeChord();
@let chordIndex = activeChordIdx();
<div class="chosen-chord-wrapper">
  <div class="empty-space"></div>

  <div class="chosen-chord-name">
    @if (chord != undefined) {
      @for (el of getChordNameArray(chord.distanceFromRoot, chord.chordIndex); track $index) {
        <span [class.root]="el.isRoot">{{ el.str }}</span>
      }
    }
    @else {
      - -
    }
  </div>

  <div class="empty-space">
    <div class="root-note-picker">
      Root note: {{ chord?.distanceFromRoot ??  "- -" }}
    </div>
    <label class="roman-checkbox-wrapper">
      <input type="checkbox" name="" id="">
      <p>Roman notation</p>
    </label>
  </div>

</div>

<div class="right-wrapper">
<div class="chord-options">
  <h3>Chord options</h3>

  <div class="select-wrapper">
    <h4>Chord</h4>
    <div class="select-wrapper">
      <select class="triad-chords" [(ngModel)]="chosenTriadIndex">
        @for (triad of triadOptions; track triad.index) {
          <option [value]="triad.index">{{ triad.chord.name }}</option>
        }
      </select>
      <svg-down-arrow-head></svg-down-arrow-head>
    </div>
    
  </div>

  <div class="select-wrapper">
    <h4>4th note</h4>
    <div class="select-wrapper">
      <select class="note-4th" [(ngModel)]="chosenSeventhIndex" #seventhChordSelect>
        <!-- Default triad -->
        <option [value]="-1">None</option>
        @for (seventh of getSeventhOptions(); track seventh.index) {
          <option [value]="seventh.index">{{ seventh.chord.name }}</option>
        }
      </select>
      <svg-down-arrow-head></svg-down-arrow-head>
    </div>
  </div>

  <button (click)="updateChordIndex()">Change</button>
</div>

<div class="stored-chords">
  <h3>Stored chords</h3>
  <!-- {{ chordIndex }} -->

  <div class="stored-chords-wrapper">
      @for (storedChord of storeService.storedChords(); track storedChord) {
        <div class="stored-chord"
          [class.active]="chordIndex == $index"
          (click)="activeChordIdx.set($index)"
        >
          <div class="pick-root-note"
            (click)="waitForRootNote();$event.stopPropagation()"
            [class.waiting]="waitingForRoot()"
          >
            <svg-picker></svg-picker>
          </div>
        
          <div class="delete-chord"
            (click)="deleteStoredChord($index);$event.stopPropagation()"
          >
            <app-cross></app-cross>
          </div>
          {{ getChordAbbreviation(storedChord.distanceFromRoot, storedChord.chordIndex) }}
        </div>
      }
      <div class="add-chord" (click)="storeService.createDefaultChord()">
        +
      </div>
  </div>
</div>
</div>
