:host {
  display: flex;
  height: 2.5rem;
  margin-block: -1.25rem;
  gap: 1px;
  margin-left: calc(-1 * var(--fret-size));
  /* justify-content: space-between; */
}

.note-wrapper {
  width: var(--fret-size);

  display: grid;
  place-items: center;
}

.note {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.note:not(.note-in-key) {
  pointer-events: none;
  opacity: 0;
}

.note.note-in-key {
  background: var(--mono-800);
}

.note.highlighted {
  background: #37C343;
}