:host {
  display: flex;
  height: 2.5rem;
  margin-block: -1.25rem;
  gap: 1px;
  margin-left: calc(-1 * var(--fret-size));
  /* justify-content: space-between; */
}

.note-wrapper {
  width: var(--fret-size);

  display: grid;
  place-items: center;
}

.note {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.note:not(.note-in-key.highlighted) {
  /* opacity: 0; */
  border: 1px solid var(--mono-800);
  color: transparent;
  transition-property: background, opacity, color;
  transition-duration: .2s;
}

.note.note-in-key {
  background: var(--mono-800);
}

.note:not(.highlighted):hover {
  background: var(--mono-800);
  pointer-events: revert;
  color: revert;
  /* opacity: 1; */
}

.note.highlighted {
  background: #37C343;
}