

<div class="wrapper">
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
</div>
