

<div class="wrapper">

  @for (tuning of renderList(); track $index) {
    <app-guitar-string
      [startingNoteIndex]="tuning.guitarNote"
      [stringIndex]="$index"
      [highlightedPitchlessNotes]="highlightedPitchlessNotes()"
    ></app-guitar-string>
    @if ($index != renderList().length - 1) {
      <app-guitar-string-space [row]="$index"></app-guitar-string-space>
    }
  }

  <!-- <app-guitar-string [startingNoteIndex]="5"></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string>
  <app-guitar-string-space></app-guitar-string-space>
  <app-guitar-string></app-guitar-string> -->
</div>
