.wrapper {
  border: 2px solid black;
  --fret-size: 4.5rem;
  width: min-content;
}

:host {
  display: block;
  padding-left: 4rem;
  isolation: isolate;
}

app-guitar-string {
  z-index: 1;
  isolation: isolate;
}