
<div class="piano">
  @for (noteIndex of pianoRange(); track $index) {
    @if (pianoService.isWhiteNote(noteIndex)) {
      <div class="white key" [class.highlighted]="isNoteHighlighted(noteIndex)"
        [title]="noteIndex"
      >
        <div class="note-name">
          {{ musicService.getNoteName(noteIndex) }}
          <!-- {{ noteIndex }} -->
        </div>
      </div>
    } @else {
      <div class="black key"
      [class.highlighted]="isNoteHighlighted(noteIndex)"
      [title]="noteIndex"
      ></div>
    }
  }
</div>
