<nav class="stored-scales">
  @for (key of storedKeys(); track key) {
    <div
      [class.stored-key]="true"
      [class.active]="$index == activeKeyIndex()"
      (click)="storeKeyClick($index)"
    >
      <span class="root-note">
        {{ scalesService.getRootNoteName(key.rootNoteIndex) }}
      </span>
      {{ scalesService.getModeName(key.scaleIndex, key.modeIndex) }}
      <app-three-dots></app-three-dots>

      <app-cross class="delete" (click)="deleteKey($index);$event.stopPropagation()"></app-cross>
      <!-- <app-pen-outline class="edit"></app-pen-outline> -->
    </div>
  }
  <div
    class="add-key"
    (click)="addKey(0, 0, 0)"
  >
    <app-plus></app-plus>
    Add key
  </div>
</nav>

<p>
  <strong>{{ scaleRoot() }}</strong>
</p>

<!-- <p>{{ chosenScaleName() }}</p> -->
<p>{{ chosenScaleName() }}</p>


<!-- <p>#{{ chosenScaleIndex() }}</p> -->
<button (click)="prevScale()">Prev scale</button>
<button (click)="nextScale()">Next scale</button>

<p>
  Mode: <strong>{{ chosenModeName() }}</strong>
</p>
<button (click)="prevMode()">Prev mode</button>
<button (click)="nextMode()">Next mode</button>