<nav class="stored-scales">
  @for (key of storedKeys(); track key) {
    <div
      [class.stored-key]="true"
      [class.active]="$index == activeKeyIndex()"
      (click)="storeKeyClick($index)"
    >
      <span class="root-note">
        {{ scalesService.getRootNoteName(key.rootNoteIndex) }}
      </span>
      {{ scalesService.getModeName(key.scaleIndex, key.modeIndex) }}
      <app-three-dots></app-three-dots>

      <app-cross class="delete" (click)="deleteKey($index);$event.stopPropagation()"></app-cross>
      <!-- <app-pen-outline class="edit"></app-pen-outline> -->
    </div>
  }
  <div
    class="add-key"
    (click)="addKey(0, 0, 0)"
  >
    <app-plus></app-plus>
    Add key
  </div>
</nav>

<div class="key-editor">
  <div class="left">
    <h3>Root note</h3>
    <span class="current-root-note">
      C
    </span>
    <span class="pick-root">Pick</span>
  </div>
  <div class="right">
    <div class="dropdown-wrapper">
      <h3>Scale</h3>
      <select>
        <option value="1">a very large opt</option>
        <option value="2">b</option>
      </select>

      <div class="dropdown-info">3 extra notes</div>
    </div>
    <div class="dropdown-wrapper">
      <h3>Mode</h3>
      <select>
        <option value="1">b</option>
        <option value="2">c</option>
      </select>
      <div class="dropdown-info">2 modded notes</div>
    </div>

    
  </div>
  <div class="bottom">
    <button class="save-key">Apply</button>
  </div>
</div>