<nav class="stored-scales">
  @for (key of storedKeys(); track key) {
    <div
      [class.stored-key]="true"
      [class.active]="$index == activeKeyIndex()"
      (click)="storeKeyClick($index)"
    >
      <span class="root-note">
        {{ musicService.getNoteName(key.rootNoteIndex) }}
      </span>
      {{ musicService.getScaleName(key.scaleIndex) }}
      <app-three-dots></app-three-dots>

      <app-cross class="delete" (click)="deleteKey($index);$event.stopPropagation()"></app-cross>
      <!-- <app-pen-outline class="edit"></app-pen-outline> -->
    </div>
  }
  <div
    class="add-key"
    (click)="addKey()"
  >
    <app-plus></app-plus>
    Add key
  </div>
</nav>

@let key = activeKey();
@if (key == undefined) {
  <div class="key-editor">
    <span>Choose a saved key</span>
  </div>
}
@else {
  <app-scale-editor [key]="key" (keySubmit)="updateKey($event, activeKeyIndex())"></app-scale-editor>
}