<header>
  <nav>
  <!-- <nav [style]="{'--wrapper-component': musicService.activePicker()}"> -->
  @for (pickerOption of pickerOptions; track $index) {
    @let yPos = $index - storeService.activePicker();
    <span
      (click)="storeService.activePicker.set($index)"
      [style]="{'--y-pos': yPos}"
      [class.active]="yPos == 0"
      [class.top]="yPos < 0"
      [class.bottom]="yPos > 0"
    >{{pickerOption}}</span>
  }
  <!-- <span (click)="musicService.activePicker.set(0)">Scales</span>
  <span (click)="musicService.activePicker.set(1)">Chords</span> -->
  </nav>

  @switch (storeService.activePicker()) {
    @case (0) {
      <app-scales-picker (changeHighlightedNotes)="updateHighlightedNotes($event)"></app-scales-picker>
    }
    @case (1) {
      <app-chords-picker (changeHighlightedNotes)="updateHighlightedNotes($event)"></app-chords-picker>
    }
  }
</header>