header {
  height: 22.5rem;
  padding-inline: 3rem;

  display: flex;
  
  /* background: red; */
}

nav {
  /* background: green; */
  width: 20rem;
  position: relative;
}

nav span.top {
  --gap-space: -4.5rem;
  --gap-space: -20px;
  
}
nav span.bottom {
  --gap-space: 4.5rem;
  --gap-space: 20px;
}

nav span {
  position: absolute;
  inset: 0;
  margin: auto;
  width: fit-content;
  height: 4rem;
  
  font-weight: 500;
  font-size: 4rem;
  font-family: var(--serif);
  line-height: 1;
  color: var(--mono-500);

  
  /* translate: 0 calc(var(--y-pos) + var(--gap-space)); */
  translate: 0 calc(var(--y-pos) * 3.5rem + var(--gap-space));
  scale: .75;


  transition: translate .2s, scale .2s, color .2s;
}



nav span.active {
  scale: 1;
  font-weight: 700;
  color: white;
}